<h1>Episode</h1>

Episode Date: <%= @episode.date %>
<ul>
    <% @episode.appearances.each do |appear| %>
    <li>
        Guests: <%= link_to appear.guest.name, guest_path(appear.guest.id) %>
        Rating: <%= appear.rating %>
    </li>
    <% end %>
</ul>

<%if !@episode.appearances.empty?%>
    Average Rating: <%= "#{@episode.average_rating}" %><br><br>
<% end %>



<%= link_to 'Back', episodes_path %>